body{
      background-image:url(../images/bkimg3.jpg);
	  background-size:cover;
	  }
	  
.name{
    font-family:cursive;
    font-size:90px;
	text-align:center;
}	

.choose{
	   width:100px;
	   height:100px;
	   position:relative;
}